<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/grid.css" />
  <script src="/jquery/jquery.js"></script>
  <title>travel</title>
</head>

<body>
  <div class="grid-container">
    <!-- nav section  -->
    <div class="grid-header">
      <header>
        <section>
          <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
          <!-- Image and text -->
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
              <img src="/image/logo.png" width="100" height="70" class="d-inline-block align-top" alt=""
                loading="lazy" />
              <div class="position-relative d-inline-block s-travel">
                Tour
                <span class="text-muted s-text">Galaxy</span>
              </div>
            </a>
            <!-- <span class="d-flex"></span> -->
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">الصفحة الرئيسية <span class="sr-only">(حاليا)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/place">الاماكن</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/recommended">مقترحات</a>
                </li>
                <li class="nav-item" >
                  <a href="/users/login" >
                  <img src="/image/login logo.png" width="100" height="70" class="d-inline-block align-top" alt=""
                    loading="lazy" />
                      </a>
                </li>
              </ul>
            </div>
          </nav>

        </section>
      </header>
    </div>
    <!-- form section -->
    <div class="grid-body">
      <div id="carouselExampleControls" class="carousel slide s-display-slider" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/image/1.jpg" class="d-block w-100" width="100" height="600" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div class="row">
                <div class="col-sm-4 pb-5">
                  <div class="card">
                    <div class="card-body">
                      <div class="s-price mx-auto">Tour Galaxy</div>
                      <h5 class="card-title text-center pt-4">Welcome to Egypt</h5>
                      <div class="text-center text-secondary">Egypt is famous for having one of the oldest civilizations on the face of the earth </div>
                      <a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1BCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQGIAgGoAgO4AvGEzPgFwAIB0gIkYzg2MGNhN2EtOGNmMC00YzVhLTliMjMtMjdiY2FkMTNlYWFm2AIF4AIB&lang=ar&sb=1&sb_lp=1&src=index&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Findex.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1BCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQGIAgGoAgO4AvGEzPgFwAIB0gIkYzg2MGNhN2EtOGNmMC00YzVhLTliMjMtMjdiY2FkMTNlYWFm2AIF4AIB%3Bsb_price_type%3Dtotal%26%3B&ss=Egypt&is_ski_area=0&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&b_h4u_keep_filters=&from_sf=1&ss_raw=egypt&ac_position=0&ac_langcode=en&ac_click_type=b&dest_id=63&dest_type=country&place_id_lat=26.8206&place_id_lon=30.8789&search_pageview_id=213a6379164900d6&search_selected=true" class="btn s-btn text-center mt-2">Go somewhere</a>
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/image/2.jpg" class="d-block w-100" width="100" height="600" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="/image/3.jpg" class="d-block w-100" width="100" height="600" alt="..." />
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">السابق</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">التالي</span>
        </a>
      </div>

      <!--Carousel Wrapper-->
      <div class="container s-card-cont">
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
          <!--Controls-->
          <div class="controls-top">
            <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon s-arrow" aria-hidden="true"></span>
              <span class="sr-only">السابق</span>
            </a>
            <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
              <span class="carousel-control-next-icon s-arrow" aria-hidden="true"></span>
              <span class="sr-only">التالي</span>
            </a>
          </div>
          <!--/.Controls-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">
                    <span class="mx-auto">مصر</span>
                  </div>
                  <img class="card-img-top" width="150" height="150" src="/image/cairo.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">القاهرة</h4>
                    <div class="s-text-card">عاصمة الألف مئذنة</div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB&lang=ar&sb=1&src=searchresults&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fsearchresults.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB%3Btmpl%3Dsearchresults%3Bclass_interval%3D1%3Bdest_id%3D-290029%3Bdest_type%3Dcity%3Bdtdisc%3D0%3Bfrom_sf%3D1%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Binac%3D0%3Bindex_postcard%3D0%3Blabel_click%3Dundef%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Braw_dest_type%3Dcity%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bsearch_selected%3D1%3Bshw_aparth%3D1%3Bslp_r_match%3D0%3Bsrc%3Dindex%3Bsrc_elem%3Dsb%3Bsrpvid%3De1e25f259df700b3%3Bss%3D%25D8%25A7%25D9%2584%25D8%25BA%25D8%25B1%25D8%25AF%25D9%2582%25D8%25A9%252C%2520%25D9%2585%25D8%25B5%25D8%25B1%3Bss_all%3D0%3Bssb%3Dempty%3Bsshis%3D0%3Btop_ufis%3D1%26%3B&ss=%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%2C+%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9%2C+%D9%85%D8%B5%D8%B1&is_ski_area=&ssne=%D8%A7%D9%84%D8%BA%D8%B1%D8%AF%D9%82%D8%A9&ssne_untouched=%D8%A7%D9%84%D8%BA%D8%B1%D8%AF%D9%82%D8%A9&city=-290029&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&from_sf=1&ss_raw=%D8%A7%D9%84%D9%82&ac_position=0&ac_langcode=ar&ac_click_type=b&dest_id=-290692&dest_type=city&iata=CAI&place_id_lat=30.044493&place_id_lon=31.235569&search_pageview_id=e1e25f259df700b3&search_selected=true&search_pageview_id=e1e25f259df700b3&ac_suggestion_list_length=4&ac_suggestion_theme_list_length=0">احجز الان</a></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">مصر</div>
                  <img class="card-img-top" width="150" height="150" src="/image/alex.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">الاسكندرية</h4>
                    <div class="s-text-card">عروس المتوسط</div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB&lang=ar&sb=1&src=searchresults&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fsearchresults.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB%3Btmpl%3Dsearchresults%3Bac_click_type%3Db%3Bac_position%3D0%3Bcity%3D-290029%3Bclass_interval%3D1%3Bdest_id%3D-290692%3Bdest_type%3Dcity%3Bdtdisc%3D0%3Bfrom_sf%3D1%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Biata%3DCAI%3Binac%3D0%3Bindex_postcard%3D0%3Blabel_click%3Dundef%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Braw_dest_type%3Dcity%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bsearch_selected%3D1%3Bshw_aparth%3D1%3Bslp_r_match%3D0%3Bsrc%3Dsearchresults%3Bsrc_elem%3Dsb%3Bsrpvid%3D3b615fbd71d0024c%3Bss%3D%25D8%25A7%25D9%2584%25D9%2582%25D8%25A7%25D9%2587%25D8%25B1%25D8%25A9%252C%2520%25D9%2585%25D8%25AD%25D8%25A7%25D9%2581%25D8%25B8%25D8%25A9%2520%25D8%25A7%25D9%2584%25D9%2582%25D8%25A7%25D9%2587%25D8%25B1%25D8%25A9%252C%2520%25D9%2585%25D8%25B5%25D8%25B1%3Bss_all%3D0%3Bss_raw%3D%25D8%25A7%25D9%2584%25D9%2582%3Bssb%3Dempty%3Bsshis%3D0%3Bssne%3D%25D8%25A7%25D9%2584%25D8%25BA%25D8%25B1%25D8%25AF%25D9%2582%25D8%25A9%3Bssne_untouched%3D%25D8%25A7%25D9%2584%25D8%25BA%25D8%25B1%25D8%25AF%25D9%2582%25D8%25A9%3Btop_ufis%3D1%26%3B&ss=%D8%A7%D9%84%D8%A5%D8%B3%D9%83%D9%86%D8%AF%D8%B1%D9%8A%D8%A9%2C+%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%A7%D9%84%D8%A7%D8%B3%D9%83%D9%86%D8%AF%D8%B1%D9%8A%D8%A9%2C+%D9%85%D8%B5%D8%B1&is_ski_area=&ssne=%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9&ssne_untouched=%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9&city=-290692&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&from_sf=1&search_pageview_id=3b615fbd71d0024c&ac_suggestion_list_length=5&ac_suggestion_theme_list_length=0&ac_position=0&ac_langcode=ar&ac_click_type=b&dest_id=-290263&dest_type=city&iata=ALY&place_id_lat=31.20013&place_id_lon=29.91861&search_pageview_id=3b615fbd71d0024c&search_selected=true&ss_raw=hgh">احجز الان</a></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">مصر</div>
                  <img class="card-img-top" width="150" height="150" src="/image/luxer.png" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">الاقصر</h4>
                    <div class="s-text-card">عاصمة اثار العالم</div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB&lang=ar&sb=1&src=searchresults&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fsearchresults.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB%3Btmpl%3Dsearchresults%3Bac_click_type%3Db%3Bac_position%3D0%3Bcity%3D-290692%3Bclass_interval%3D1%3Bdest_id%3D-290263%3Bdest_type%3Dcity%3Bdtdisc%3D0%3Bfrom_sf%3D1%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Biata%3DALY%3Binac%3D0%3Bindex_postcard%3D0%3Blabel_click%3Dundef%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Braw_dest_type%3Dcity%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bsearch_selected%3D1%3Bshw_aparth%3D1%3Bslp_r_match%3D0%3Bsrc%3Dsearchresults%3Bsrc_elem%3Dsb%3Bsrpvid%3Dc37b5fcfc518001b%3Bss%3D%25D8%25A7%25D9%2584%25D8%25A5%25D8%25B3%25D9%2583%25D9%2586%25D8%25AF%25D8%25B1%25D9%258A%25D8%25A9%252C%2520%25D9%2585%25D8%25AD%25D8%25A7%25D9%2581%25D8%25B8%25D8%25A9%2520%25D8%25A7%25D9%2584%25D8%25A7%25D8%25B3%25D9%2583%25D9%2586%25D8%25AF%25D8%25B1%25D9%258A%25D8%25A9%252C%2520%25D9%2585%25D8%25B5%25D8%25B1%3Bss_all%3D0%3Bss_raw%3Dhgh%3Bssb%3Dempty%3Bsshis%3D0%3Bssne%3D%25D8%25A7%25D9%2584%25D9%2582%25D8%25A7%25D9%2587%25D8%25B1%25D8%25A9%3Bssne_untouched%3D%25D8%25A7%25D9%2584%25D9%2582%25D8%25A7%25D9%2587%25D8%25B1%25D8%25A9%3Btop_ufis%3D1%26%3B&ss=Luxor%2C+Egypt&is_ski_area=&ssne=%D8%A7%D9%84%D8%A5%D8%B3%D9%83%D9%86%D8%AF%D8%B1%D9%8A%D8%A9&ssne_untouched=%D8%A7%D9%84%D8%A5%D8%B3%D9%83%D9%86%D8%AF%D8%B1%D9%8A%D8%A9&city=-290263&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&from_sf=1&search_pageview_id=c37b5fcfc518001b&ac_suggestion_list_length=5&ac_suggestion_theme_list_length=0&ac_position=0&ac_langcode=en&ac_click_type=b&dest_id=-290821&dest_type=city&iata=LXR&place_id_lat=25.7021&place_id_lon=32.64719&ettar=62654&search_pageview_id=c37b5fcfc518001b&search_selected=true&ss_raw=lu">احجز الان</a></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">مصر</div>
                  <img class="card-img-top" width="150" height="150" src="/image/aswan.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">اسوان</h4>
                    <div class="s-text-card">سحر النيل والحضارة الفرعونية</div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB&lang=ar&sb=1&src=searchresults&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fsearchresults.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB%3Btmpl%3Dsearchresults%3Bac_click_type%3Db%3Bac_position%3D0%3Bcity%3D-290263%3Bclass_interval%3D1%3Bdest_id%3D-290821%3Bdest_type%3Dcity%3Bdtdisc%3D0%3Bettar%3D62654%3Bfrom_sf%3D1%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Biata%3DLXR%3Binac%3D0%3Bindex_postcard%3D0%3Blabel_click%3Dundef%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Braw_dest_type%3Dcity%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bsearch_selected%3D1%3Bshw_aparth%3D1%3Bslp_r_match%3D0%3Bsrc%3Dsearchresults%3Bsrc_elem%3Dsb%3Bsrpvid%3Dab1c6029f20d02c9%3Bss%3DLuxor%252C%2520Egypt%3Bss_all%3D0%3Bss_raw%3Dlu%3Bssb%3Dempty%3Bsshis%3D0%3Bssne%3D%25D8%25A7%25D9%2584%25D8%25A5%25D8%25B3%25D9%2583%25D9%2586%25D8%25AF%25D8%25B1%25D9%258A%25D8%25A9%3Bssne_untouched%3D%25D8%25A7%25D9%2584%25D8%25A5%25D8%25B3%25D9%2583%25D9%2586%25D8%25AF%25D8%25B1%25D9%258A%25D8%25A9%3Btop_ufis%3D1%26%3B&ss=%D8%A3%D8%B3%D9%88%D8%A7%D9%86%2C+%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%A3%D8%B3%D9%88%D8%A7%D9%86%2C+%D9%85%D8%B5%D8%B1&is_ski_area=&ssne=%D8%A7%D9%84%D8%A3%D9%82%D8%B5%D8%B1&ssne_untouched=%D8%A7%D9%84%D8%A3%D9%82%D8%B5%D8%B1&city=-290821&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&from_sf=1&search_pageview_id=ab1c6029f20d02c9&ac_suggestion_list_length=5&ac_suggestion_theme_list_length=0&ac_position=0&ac_langcode=ar&ac_click_type=b&dest_id=-291535&dest_type=city&iata=ASW&place_id_lat=24.09107&place_id_lon=32.89731&search_pageview_id=ab1c6029f20d02c9&search_selected=true&ss_raw=as">احجز الان</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">مصر</div>
                  <img class="card-img-top" width="150" height="150" src="/image/sina.jpg" alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">سيناء</h4>
                    <div class="s-text-card">ارض الفيروز </div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB&lang=ar&sb=1&src=searchresults&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fsearchresults.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB%3Btmpl%3Dsearchresults%3Bac_click_type%3Db%3Bac_position%3D0%3Bcity%3D-290821%3Bclass_interval%3D1%3Bdest_id%3D-291535%3Bdest_type%3Dcity%3Bdtdisc%3D0%3Bfrom_sf%3D1%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Biata%3DASW%3Binac%3D0%3Bindex_postcard%3D0%3Blabel_click%3Dundef%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Braw_dest_type%3Dcity%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bsearch_selected%3D1%3Bshw_aparth%3D1%3Bslp_r_match%3D0%3Bsrc%3Dsearchresults%3Bsrc_elem%3Dsb%3Bsrpvid%3D54f06036f1db0006%3Bss%3D%25D8%25A3%25D8%25B3%25D9%2588%25D8%25A7%25D9%2586%252C%2520%25D9%2585%25D8%25AD%25D8%25A7%25D9%2581%25D8%25B8%25D8%25A9%2520%25D8%25A3%25D8%25B3%25D9%2588%25D8%25A7%25D9%2586%252C%2520%25D9%2585%25D8%25B5%25D8%25B1%3Bss_all%3D0%3Bss_raw%3Das%3Bssb%3Dempty%3Bsshis%3D0%3Bssne%3D%25D8%25A7%25D9%2584%25D8%25A3%25D9%2582%25D8%25B5%25D8%25B1%3Bssne_untouched%3D%25D8%25A7%25D9%2584%25D8%25A3%25D9%2582%25D8%25B5%25D8%25B1%3Btop_ufis%3D1%26%3B&ss=South+Sinai%2C+Egypt&is_ski_area=&ssne=%D8%A3%D8%B3%D9%88%D8%A7%D9%86&ssne_untouched=%D8%A3%D8%B3%D9%88%D8%A7%D9%86&city=-291535&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&from_sf=1&search_pageview_id=54f06036f1db0006&ac_suggestion_list_length=5&ac_suggestion_theme_list_length=0&ac_position=2&ac_langcode=en&ac_click_type=b&dest_id=3151&dest_type=region&place_id_lat=28.263883&place_id_lon=34.351772&ettar=62654&search_pageview_id=54f06036f1db0006&search_selected=true&region_type=province&ss_raw=sin">احجز الان</a></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">مصر</div>
                  <img class="card-img-top" width="150" height="150"
                    src="/image/almnia.jpg"
                    alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">المنيا</h4>
                    <div class="s-text-card">عروس الصعيد المصري</div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB&lang=ar&sb=1&src=searchresults&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fsearchresults.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB%3Btmpl%3Dsearchresults%3Bac_click_type%3Db%3Bac_position%3D2%3Bcity%3D-291535%3Bclass_interval%3D1%3Bdest_id%3D3151%3Bdest_type%3Dregion%3Bdtdisc%3D0%3Bettar%3D62654%3Bfrom_sf%3D1%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Binac%3D0%3Bindex_postcard%3D0%3Blabel_click%3Dundef%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Braw_dest_type%3Dregion%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bsearch_selected%3D1%3Bshw_aparth%3D1%3Bslp_r_match%3D0%3Bsrc%3Dsearchresults%3Bsrc_elem%3Dsb%3Bsrpvid%3D9077606505e20177%3Bss%3DSouth%2520Sinai%252C%2520Egypt%3Bss_all%3D0%3Bss_raw%3Dsin%3Bssb%3Dempty%3Bsshis%3D0%3Bssne%3D%25D8%25A3%25D8%25B3%25D9%2588%25D8%25A7%25D9%2586%3Bssne_untouched%3D%25D8%25A3%25D8%25B3%25D9%2588%25D8%25A7%25D9%2586%3Btop_ufis%3D1%26%3B&ss=%D8%A7%D9%84%D9%85%D9%86%D9%8A%D8%A7%2C+%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%A7%D9%84%D9%85%D9%86%D9%8A%D8%A7%2C+%D9%85%D8%B5%D8%B1&is_ski_area=&ssne=%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%AC%D9%86%D9%88%D8%A8+%D8%B3%D9%8A%D9%86%D8%A7%D8%A1&ssne_untouched=%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%AC%D9%86%D9%88%D8%A8+%D8%B3%D9%8A%D9%86%D8%A7%D8%A1&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&from_sf=1&search_pageview_id=9077606505e20177&ac_suggestion_list_length=5&ac_suggestion_theme_list_length=0&ac_position=3&ac_langcode=ar&ac_click_type=b&dest_id=-290636&dest_type=city&place_id_lat=28.09683&place_id_lon=30.75758&ettar=62654&search_pageview_id=9077606505e20177&search_selected=true&ss_raw=%D8%A7%D9%84%D9%85%D9%86%D9%8A">احجز الان</a></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">مصر</div>
                  <img class="card-img-top" width="150" height="150"
                    src="/image/giza.jpg"
                    alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">الجيزة</h4>
                    <div class="s-text-card">الاهرامات وغيرها الكثير من الاثار</div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB&lang=ar&sb=1&src=searchresults&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Fsearchresults.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1FCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQH4AQmIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIG4AIB%3Btmpl%3Dsearchresults%3Bac_click_type%3Db%3Bac_position%3D3%3Bclass_interval%3D1%3Bdest_id%3D-290636%3Bdest_type%3Dcity%3Bdtdisc%3D0%3Bettar%3D62654%3Bfrom_sf%3D1%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Binac%3D0%3Bindex_postcard%3D0%3Blabel_click%3Dundef%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Braw_dest_type%3Dcity%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bsearch_selected%3D1%3Bshw_aparth%3D1%3Bslp_r_match%3D0%3Bsrc%3Dsearchresults%3Bsrc_elem%3Dsb%3Bsrpvid%3D218560b2472b00a8%3Bss%3D%25D8%25A7%25D9%2584%25D9%2585%25D9%2586%25D9%258A%25D8%25A7%252C%2520%25D9%2585%25D8%25AD%25D8%25A7%25D9%2581%25D8%25B8%25D8%25A9%2520%25D8%25A7%25D9%2584%25D9%2585%25D9%2586%25D9%258A%25D8%25A7%252C%2520%25D9%2585%25D8%25B5%25D8%25B1%3Bss_all%3D0%3Bss_raw%3D%25D8%25A7%25D9%2584%25D9%2585%25D9%2586%25D9%258A%3Bssb%3Dempty%3Bsshis%3D0%3Bssne%3D%25D9%2585%25D8%25AD%25D8%25A7%25D9%2581%25D8%25B8%25D8%25A9%2520%25D8%25AC%25D9%2586%25D9%2588%25D8%25A8%2520%25D8%25B3%25D9%258A%25D9%2586%25D8%25A7%25D8%25A1%3Bssne_untouched%3D%25D9%2585%25D8%25AD%25D8%25A7%25D9%2581%25D8%25B8%25D8%25A9%2520%25D8%25AC%25D9%2586%25D9%2588%25D8%25A8%2520%25D8%25B3%25D9%258A%25D9%2586%25D8%25A7%25D8%25A1%3Btop_ufis%3D1%26%3B&ss=Giza%2C+Cairo%2C+Cairo+Governorate%2C+Egypt&is_ski_area=&ssne=%D8%A7%D9%84%D9%85%D9%86%D9%8A%D8%A7&ssne_untouched=%D8%A7%D9%84%D9%85%D9%86%D9%8A%D8%A7&city=-290636&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&from_sf=1&ss_raw=gi&ac_position=0&ac_langcode=en&ac_click_type=b&dest_id=2388&dest_type=district&place_id_lat=29.9908991519209&place_id_lon=31.1599121682539&search_pageview_id=218560b2472b00a8&search_selected=true&search_pageview_id=218560b2472b00a8&ac_suggestion_list_length=5&ac_suggestion_theme_list_length=0">احجز الان</a></div>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float: left;">
                <div class="card mb-2">
                  <div class="s-bg-card px-auto">مصر</div>
                  <img class="card-img-top"
                    width="150" height="150"
                    src="/image/hurghada.jpg"
                    alt="Card image cap" />
                  <div class="card-body">
                    <h4 class="card-title">الغردقة</h4>
                    <div class="s-text-card">عروس البحر الاحمر</div>
                    <div class="s-bg-card"><a href="https://www.booking.com/searchresults.ar.html?aid=397594&label=gog235jc-1BCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQGIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIF4AIB&lang=ar&sb=1&sb_lp=1&src=index&src_elem=sb&error_url=https%3A%2F%2Fwww.booking.com%2Findex.ar.html%3Faid%3D397594%3Blabel%3Dgog235jc-1BCAEoggI46AdIM1gDaEOIAQGYAQG4ARfIAQzYAQHoAQGIAgGoAgO4AqHzy_gFwAIB0gIkOWQwNWFmNDItZTA0My00OGRiLWJiMDgtZWNjYjJhZjk2OThh2AIF4AIB%3Bsb_price_type%3Dtotal%26%3B&ss=%D8%A7%D9%84%D8%BA%D8%B1%D8%AF%D9%82%D8%A9%2C+%D9%85%D8%B5%D8%B1&is_ski_area=&checkin_year=&checkin_month=&checkout_year=&checkout_month=&group_adults=2&group_children=0&no_rooms=1&b_h4u_keep_filters=&from_sf=1&dest_id=-290029&dest_type=city&search_pageview_id=e3255f115c3c00d2&search_selected=true&is_popular_nearby=1">احجز الان </a></div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Second slide-->
          </div>
          <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
      </div>

      <div class="container-fluid bg-light p-4 mb-5">
        <div class="row mx-auto">
          <div class="col-1"></div>
          <div class="col-2 s-centr-img border-left">
            <img src="/image/beach.png" width="50" height="50" />
          </div>
          <div class="col-2 s-centr-img border-left">
            <img src="/image/beach2.png" width="50" height="50" />
          </div>
          <div class="col-2 s-centr-img border-left">
            <img src="/image/summer.png" width="50" height="50" />
          </div>
          <div class="col-2 s-centr-img border-left">
            <img src="/image/airplane.png" width="50" height="50" />
          </div>
          <div class="col-2 s-centr-img border-right border-left">
            <img src="/image/beach.png" width="50" height="50" />
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>

    <div class="grid-footer">
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <img src="/image/logo.png" width="40" height="40" class="d-inline-block align-top" alt=""
                loading="lazy" />
              <div class="position-relative d-inline-block s-travel">
                Tour <span class="text-muted s-text">Glaxy</span>
              </div>
            </div>
            <div class="col-6 mx-auto">
              <span class="text-muted">Copy right @2020 NCA.</span>
            </div>

            <div class="col-2">
              <img src="/image/facebook.png" class="m-2" width="20" height="20" class="d-inline-block align-top" alt=""
              loading="lazy" />
              <img src="/image/linkedin.png" class="m-2" width="20" height="20" class="d-inline-block align-top" alt=""
              loading="lazy" />
              <img src="/image/twitter.png" class="m-2" width="20" height="20" class="d-inline-block align-top" alt=""
              loading="lazy" />
              <img src="/image/spotify-sketch.png" class="m-2" width="20" height="20" class="d-inline-block align-top" alt=""
              loading="lazy" />
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="jquery/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>
