.placebody {
    background-image: url('/image/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.logo img
    {
   width:100px;
   height:70px;
   margin:auto;
    }
  .a
   {
     text-decoration: none;
     color: #fff;
     font-size: 20px;
     text-transform:capitalize;
     font-family:sans-serif;
     font-weight:bold;
   }

  p
   {
    font-style:italic;
    font-family:sans-serif;
     font-weight:bold;
     font-size:17px;
     text-indent: 40px;
     margin: 10px;
     padding: 30px;
     display: inline-block;
   }
   h1{
       float:right;
       text-align:right;
       font-style:italic;
    font-family:sans-serif;
     font-weight:bold;
     font-size:50px;
    margin-right: 50px;
      display: inline-block;
   }


    .navbar
       {
           margin:auto;
           width:700px;
           height:80px;
           z-index: 1000;
           background-color: #003865;
       }
   ul
       {
           list-style: none;
           margin-left: 300px;
       }
    li
       {
           display:inline-block;
           padding-top: 20px;
           padding-bottom: 20px;
           margin: 25px;
       }


     li a:hover
      {
       /* background-color:#C12020; */
       color: aliceblue !important;
      }
      .menu
      {
           margin:auto;
           width:1000px;
           height:50px;


      }




   .s-text{
     position: absolute;
       left: 2px;
       top: 23px;


       font-size: 10px;

   }




   .s-display-slider{

   top:-80px;

   }
   .carousel-indicators{
     position: relative;
   }
   .carousel-indicators li{
     background-color:#003865 !important ;
   }
   .s-bg-card{

     background-color:#003865 !important ;
   color: aliceblue;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   }
   .s-card-cont{
     position: relative;
       bottom: 125px;
   }

   .card{
     border: 0 !important;
   }
   .card-img-top{
     border-top-left-radius: 0 !important;
       border-top-right-radius: 0 !important;
   }
   .card-title{
     color: #003865 !important;
   }

   .controls-top {
     position: relative;
     /* bottom: -17px; */
     top: 126px;
   }
   .s-arrow{
     opacity: 1 !important;
     background-color:#003865;
     padding: 14px;
   }
   .s-text-card{
     color: #C12020;
     padding-bottom: 10px;
   }
   .s-centr-img{
   text-align: center;
   }
   .s-price{
     width: 150px;
   background-color: #C12020;
   color: white;
   padding: 10px;
   text-align: center;

   }
   .s-btn {
     background-color: #003865;
     color: white;
   }
   .s-travel{
     font-size: 20px;
     color: #C12020;
     font-weight: 600;
   }
